* {
    box-sizing: border-box;
}

body {
    height: 4000px;
    font-family: 'Montserrat';
}

div.shading {
    background: rgba(50, 50, 100, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

div.form {
    display: flex;
    border-radius: 12px;
    background: #F5F5FA;
    box-shadow: 0px 15px 80px 0px rgba(40, 40, 86, 0.50);
    width: 650px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10; 
}


form {
    display: flex;
    width: 100%;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

div.title {
    position: relative;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

button.close {
    position: absolute;
    right: 0;
    width: 32px;
    height: 32px;
    border: none;
    padding: 0px;
    background: #F5F5FA;

}
img {

}

input,textarea {
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #FFF;
    display: flex;
    padding: 15px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

input::placeholder {
    color: #B3B3BA;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    
}

textarea.message::placeholder {
    position:absolute;
    top: 15px;
    color: #B3B3BA;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
} 

div.title h2 {
    font-family: Montserrat;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.acc {
    width: 100%;
}

div.part1, div.part2  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.message {
    display: flex;
    height: 130px;
    padding: 15px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

h3 {
    color: #B3B3BA;
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
letter-spacing: 1px;
text-transform: uppercase;
}

div.button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

button.send {
    width: 100%;
    border-radius: 12px;
    background: #24A3FF;
    box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.50);
    padding: 18px 30px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    border: none;
}